body {
  font-family: Arial, sans-serif;
  background: #66ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0;
}

.box {
  background: #6b6b47;
  padding: 25px;
  width: 340px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  color: white;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

input, select, button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}

button {
  margin-top: 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#status {
  margin-top: 10px;
  text-align: center;
}

/* TABLE STYLES */
table {
  border-collapse: collapse;
  width: 90%;
  max-width: 900px;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

th {
  background: #007bff;
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}
